.map-container {
  border-top: solid 4px black;
  margin: 2rem auto;
  width: 80%;
  box-shadow: 1px 1px 23px 5px #fff000;
}

.map-details {
  border: solid 2px #fff000;
  background: white;
  padding: 1rem;
  position: absolute;
  top: 20vh;
  left: 9vw;
  box-shadow: 1px 1px 20px 2px #fff000;
  max-width: 400px;
}

.map-details h2 {
  color: #262626;
}

.map-details p {
  color: #262626;
}

.hide {
  display: none;
}

.show-more-text {
  cursor: pointer;
}

.country-details-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.country-details-inner img {
  width: 100px;
  margin-bottom: 1rem;
}
