.App {
  text-align: center;
}

body {
  background: #262626;
}

p {
  color: white;
}

button {
  background: #262626;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: #fff000;
  color: #262626;
  box-shadow: 3px 4px 10px 2px #696969;
}

h1 {
  color: #fff000;
  text-transform: uppercase;
  /* box-shadow: 3px 4px 10px 2px #696969; */
  padding-top: 2vh;
  transition: all 0.3s ease-in;
  font-size: 4rem;
}
h2 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

h1:hover {
  color: white;
  text-shadow: #fff000 0px 0px 10px;
}
